body {
	background-color: #ffffff;
}

h1 {

	color: #91c2c5;
	font-family: "Kalam";
	font-size: 3rem;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;

}

h3 {

	color: #91c2c5;
	font-family: "Kalam";
	font-size: 3rem;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;

}

/* Main Container */

#main-container {

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

}

/* Player Details */

#player {

	background-color: #284B63;
	border: 8px solid #284B63;
	border-radius: 0;
	margin-top: 50px;
	padding: 20px;
	width: 550px;

}

#playerMsg {

	color: #91c2c5;
	font-family: "Kalam";
	font-size: 2rem;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;

}

#winnerMsg {

	color: #91c2c5;
	font-family: "Kalam";
	font-size: 3rem;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;

}

/* Grid */

#grid {

	background-color: #284B63;
	border: 3.5px solid #284B63;
	border-radius: 0;
	box-shadow: 2px 3px 7px #284B63;
	margin-top: 50px;
	max-width: 600px;
	padding: 3px;

}

/* Grid Row */

.row {

	display: flex;

}

/* Grid Column */

.col {

	align-items: center;
	background-color: #d9d9d9;
	border: 1px solid  #284B63;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	height: 75px;
	margin: 5px;
	width:  75px;

}
/* Buttons */

.btn {

	background-color: transparent;
	border: none;
	color: transparent;
	height: 100%;
	padding: 0;
	width: 100%;

}

.button-container {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 10px 10px 10px
}

#reset-btn {

	background-color: #3c6e71;
	border: 2px solid #3c6e71;
	border-radius: 5px;
	color: #ffffff;
	font-family: "Kalam";
	font-size: 1.5rem;
	margin: 10px 20px;
	padding: 10px 40px;
	text-transform: uppercase;
	transition: 0.7s;

}

#reset-btn:hover {

	background-color: #3c6e71;
	color: #ffffff;
	cursor: pointer;
	transition: 0.7s;

}

#rules-btn {

	background-color: #3c6e71;
	border: 2px solid #3c6e71;
	border-radius: 5px;
	color: #ffffff;
	font-family: "Kalam";
	font-size: 1.5rem;
	margin: 10px 20px;
	padding: 10px 40px;
	text-transform: uppercase;
	transition: 0.7s;

}

#rules-btn:hover {

	background-color: #3c6e71;
	color: #ffffff;
	cursor: pointer;
	transition: 0.7s;

}